.countdown {
    display: flex;
    justify-content: space-between;

    z-index: 2;
    position: relative;
    margin: 0 6%;
    margin-bottom: 95px;
}

.column{
    text-align: center;
}

.column p:first-child{
    font-size: 34px;
    font-weight: bold;
    line-height: 0px;
}

.column p:last-child{
    font-size: 14px;
    line-height: 1px;
    text-transform: uppercase;   
}