.penguin {
    position: absolute;
    top: 28px;
    right: 28px;
    width: 80px;
}

.clouds img {
    width: 240px;
    position: absolute;
    opacity: 0.1;
}

.clouds img:nth-child(1) {
    top: 130px;
    right: 0;
}

.clouds img:nth-child(2) {
    top: 500px;
    right: -80px;
}

.clouds img:nth-child(3) {
    top: 220px;
    left: -90px;
}

.clouds img:nth-child(4) {
    bottom: 20px;
    left: -100px;
}