.today-forecast{
    color: #fff;
    background-color: #110e3b; 
    
    padding: 20px;
    width: 32%;
    text-align: center;

    position: relative;
    overflow: hidden;  

    height: 100vh;
    max-height: 914px 
}



