.trips {
    /* border: 1px solid gold; */
    padding: 45px;
    padding-bottom: 0;       
}

.search{
    font-size: 16px;    
    font-weight: bold;
    border: none;
    background: #f2f4f8;
    padding: 20px;
    border-radius: 5px;
}

.trips ul {
    margin: 0;
    padding: 0;
    padding-bottom: 15px; 
    list-style: none;
    margin-top: 52px;

    display: flex;
    overflow: auto;
    white-space: nowrap; 
    
    scrollbar-width: thin;
    scrollbar-color: #f2f4f8 #fff;
}

.add{
    margin-right: 50px;      
}

.add div {
    background-color: #f2f4f8;
    width: 230px;
    height: 210px;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;      
}

.add div:hover {
    background-color: #93cbff;
}

