.trips {
    /* border: 1px solid gold; */
    padding: 45px;
    padding-bottom: 0;       
}

input{
    font-size: 16px;    
    font-weight: bold;
    border: none;
    background: #f2f4f8;
    padding: 20px;
    border-radius: 5px;
}

.trips ul {
    margin: 0;
    padding: 0;
    padding-bottom: 15px; 
    list-style: none;
    margin-top: 52px;

    display: flex;
    overflow: auto;
    white-space: nowrap; 
    
    scrollbar-width: thin;
    scrollbar-color: #f2f4f8 #fff;
}

.trips li {    
    height: 290px;    
    border: 1px solid #f8f8f8;
    margin-right: 65px;
    

    display: inline-block; 
    cursor: pointer;   
}

.trips li:last-child {
    margin-right: 0;
}

.photo{
    width: 230px;
    height: 210px;    
}

.photo img {
    width: 100%;
}

.active {   
    border: 1px solid #93cbff!important;     
}

.city{
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}

.date{
    font-size: 16px;
    color: gray;
    margin-top: 5px;
}

.description{
    padding: 15px;
}
.add{
    border: none!important;        
}

.add div {
    background-color: #f2f4f8;
    width: 215px;
    height: 200px;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;      
}

.add div:hover {
    background-color: #93cbff;
}

