.app{
    display: flex;
    max-width: 1760px;
    margin: 0 auto;    
}

.app .left {
    width: 68%;
}

h1{
    font-size: 28px;
    margin-left: 42px;
    margin-top: 38px;
}

h1 span {
    font-weight: normal;
}