.current-weather {
    padding-top: 245px;
    padding-bottom: 148px;

    z-index: 2;
    position: relative;
}

.icon-weather{
    width: 85px;
    margin-right: 20px;   
}

.day{
    font-size: 48px;
    font-weight: bold;
}

.temperature{
    font-size: 85px;
    /* margin-top: 7px  */
}

sup{
    font-size: 28px;
    position: relative;
    top: -28px;
}

.city{
    font-size: 36px;
    margin-top: 18px;
}

.loading{
    margin: 216px 0;
}

